body{
    font-family: 'PT Sans', helvetica;
}

html, body
{
  height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
  text-align:center;
}

.foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

#textarea1 {
  height:40px;
}